.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.modebtn {
  border-radius: 50%;
  border: 1px solid;
  width: 13px;
  height: 20px;
  padding: 10px;
  margin: 2px;
}

.modediv {
  margin-right: 15px;
  margin-bottom: 10px;
}

#navColor{
background-color: rgb(198 190 190);
}

.textMode {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: cursive;
}
#blackbtn{
  background-color: black;
}
#whitebtn{
  background-color: white;
}
#bluebtn{
  background-color: #af94c4;
}
#greenbtn{
  background-color: green;
}
#purplebtn{
  background-color: #571e4e;
}
#blackbtn:hover{
  color: white;
}
#whitebtn:hover{
  color: white;
}
#bluebtn:hover{
  color: white;
}
#greenbtn:hover{
  color: white;
}
#redbtn:hover{
  color: white;
}